.app-bar {
    width: 84% !important;
}

.header-container {
    background: var(--gray);
}

.breadcrumbs-text {
    color: var(--black) !important;
    font-size: 14px !important;
}

.app-text {
    font-weight: 400 !important;
}

.page-text {
    font-weight: 600 !important;
}

.toolbar-btn {
    font-size: 12px !important;
}