.table {
    margin-left: -5px !important;
    max-height: calc(100vh - 86px) !important;
}

.table-header {
    color: var(--black) !important;
    font-weight: 600 !important;
}

.table-data {
    color: var(--black) !important;
    font-weight: 400 !important;
}