.table {
    margin-left: -5px !important;
    max-height: calc(100vh - 72px) !important;
}

.table-header {
    color: var(--black) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.table-data {
    color: var(--black) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}