.empty-view {
    margin-left: -30px;
    margin-right: -30px;
    border-left: 1px solid var(--black-opacity);
    background: var(--white);
    height: calc(99vh - 95px);
    padding: 15px;
}

.no-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--gray);
    height: calc(99vh - 95px);
}

.no-data-container img {
    max-width: 100%;
}